.movies img {
  transition: all 0.6s;
}

.movie-poster {
  object-fit: cover;
}

.movies img:hover,
.no-image:hover {
  transform: scale(115%);
  transition-duration: 0.6s;
  cursor: pointer;
}

.no-image {
  height: 556px;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(19, 19, 19);
}

.notflix-logo {
  font-size: 10rem;
}

.loading-image {
  background: #000;
  opacity: 0.3;
}

@media (min-width: 1280px) {
  .movies {
    width: 20%;
  }
}
