.movies {
  width: 300px;
}

.movies img {
  transition: all 0.6s;
}

.movie-poster {
  object-fit: cover;
}

.movies img:hover,
.no-image:hover {
  transform: scale(115%);
  transition-duration: 0.6s;
  cursor: pointer;
}

.no-image {
  height: 414px;
  width: auto;
}

.loading-image {
  background: #000;
  opacity: 0.3;
}
