.movies img {
  transition: all 0.6s;
}

.movie-poster {
  object-fit: cover;
}

@media (min-width: 1280px) {
  .movies img:hover,
  .no-image:hover {
    transform: scale(115%);
    transition-duration: 0.6s;
    cursor: pointer;
  }
}

.no-image {
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(19, 19, 19);
  min-height: 100%;
}

.notflix-logo {
  font-size: 10rem;
}

.loading-image {
  background: #000;
  opacity: 0.3;
}

.movies {
  width: 20%;
}

@media (max-width: 1300px) {
  .movies {
    width: 33.3%;
  }
}

@media (max-width: 780px) {
  .movies {
    width: 50%;
  }
}
