.genre {
  height: 6ch;
  width: 17ch;
}

@media (max-width: 1150px) {
  .genres-container-lg {
    display: none;
  }
}

@media (min-width: 1151px) {
  .genres-container-md {
    display: none;
  }
}

.genres-container-md {
  margin-top: 20rem;
}

.form-select:focus {
  box-shadow: none;
}

.genre-selector {
  width: 50%;
}

@media (max-width: 780px) {
  .genre-selector {
    width: 100%;
  }
}
