.about-page {
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 6rem;
}

.tmdb-logo {
  object-fit: cover;
  transform: translateY(-0.5px);
}

.techstack {
  background-color: black;
  padding: 1rem;
}

.profile-pic {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.link-git:hover {
  color: #c9510c;
}

.link-linkedin:hover {
  color: #0a66c2;
}

.about-me {
  background-color: black;
  padding: 1rem;
  height: 30%;
  margin-top: 2rem;
  margin-left: 4rem;
}

.about-me-pic {
  position: absolute;
  top: -20px;
  left: -65px;
}

.powered-by-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
