div.modal-content.trailer-modal {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.trailer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.trailer-btn:focus {
  box-shadow: none;
}

div.modal-content.trailer-modal > .modal-body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
